<!DOCTYPE html>
<html>
<head>
    <title>Questionário</title>
</head>
<body>
    <form action="/resultado" method="post">
        <label for="passo1">Acordou cedo?</label><br>
        <input type="text" id="passo1" name="passo1"><br>
        <div id="passo2" style="display: none;">
            <label for="passo2">Que horas você acordou?</label><br>
            <input type="text" id="passo2" name="passo2"><br><br>
        </div>
        <input type="submit" value="Enviar">
    </form>
    
    <script>
        document.getElementById('passo1').addEventListener('input', function(){
            if (this.value.toLowerCase() === 'não') {
                document.getElementById('passo2').style.display = 'block';
            }else{
                document.getElementById('passo2').style.display = 'none';
            }
        })
    </script>
</body>
</html>
